.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.isDone {
    text-decoration: line-through;
    opacity: 0.5;
}

.active {
    background-color: aqua;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

input {
    outline: none;
}

h3 {
    display: inline-block;
}
